body{
    background-color: #EEF9BF;
}


.main-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.tittle{
    margin-top: 40px;
    text-align: center;
}

.tittle h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 65.63px;
    color: #75B79E;

}

.jogo{
    width: 950px;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #A7E9AF;
    display: flex;
    transition: all 0.3s;
    transform-style: preserve-3d;
    
}


.vira{
    transform: rotateY(180deg);
}


.front{
    height: 100px;
    width: 100px;
    margin: auto;
    
}

.back{
    height: 100px;
    width: 100px;
}



.hidden{
    display: none;
}

@media (max-width: 950px){
 
    .jogo{
        width: 100%;
    }
    
}


@media (max-width: 640px){

.jogo{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

}

